<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org">
    <head>
        <title>FactuSoft</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href="@{/}" class="logo nav-link">FactuSoft</a>
            </nav>
        </header>
        <ul th:fragment="barraLateral" class="barraLateral">
        <form class="nav-menu-item">
            <a th:href="@{/cliente/listado}" class="nav-menu-link nav-link"
               th:text="#{plantilla.clientes}">Clientes</a>
        </form>
        <form class="nav-menu-item">
            <a th:href="@{/categoria/listado}" class="nav-menu-link nav-link"
               th:text="#{plantilla.categorias}">Categorías</a>
        </form>
        <form class="nav-menu-item">
            <a th:href="@{/producto/listado}" class="nav-menu-link nav-link"
               th:text="#{plantilla.productos}"></a>
        </form>
        <form method="POST" th:action="@{/logout}" class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link" onclick="this.parentNode.submit();"
               th:text="#{logout.logout}">Logout</a>
        </form>
    </ul>
        
        <footer th:fragment="footer" class="footer">
            <div>
                Todos los derechos reservados 2022
                <a th:href="@{/(lang=es)}" class="nav-link-footer">ES |</a>
                <a th:href="@{/(lang=en)}" class="nav-link-footer"> EN</a>
            </div>
        </footer>
    </body>
</html>
