<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>FactuSoft</title>
    </head>
    <body>
        <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCategoria">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                    <br>
                    <div class="col-md-3">
                        <a th:href="@{/categoria/ListadoCategorias}"
                           class="btn btn-primary">
                            <i class="fas fa-file-pdf"></i> [[#{index.pdf}]]</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="listadoCategorias" id="categorias">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{categoria.titulo}]]</h4>
                            </div>
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Consecutivo</th>
                                            <th th:text="#{categoria.descripcion}">Descripcion</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="categoria, contador : ${categorias}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categoria.descripcion}]]</td>
                                            <td>
                                                <a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/categoria/modificar/}+${categoria.idCategoria}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span th:text="#{categoria.no_mostrar}">Lista vacía</span>
                            </div>
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <h3 th:text="#{categoria.totalCategorias}">Total Categorias</h3>
                                    <h4 class="display-4">
                                        <i class="fas fa-layer-group"></i> [[${totalCategorias}]]
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="agregarCategoria">
            <div id="agregarCategoria" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Guardar Categoria</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/categoria/guardar}" th:object="${categoria}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="descripcion" th:text="#{categoria.descripcion}">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
                    
        <section th:fragment="editarCategoria">            
            <form method="POST"
                  th:action="@{/categoria/guardar}"
                  th:object="${categoria}"
                  class="was-validated">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
            <section> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="col-md-3">
                                        <a th:href="@{/categoria/listado}" class="btn btn-ligth btn-block">
                                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                        </a>
                                    </div>
                                    <div class="card-header">
                                        <h4>[[#{accion.editarCategoria}]]</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="descripcion" th:text="#{categoria.descripcion}">Descripcion</label>
                                            <input type="text" class="form-control" name="descripcion" required="true">
                                        </div>
                                        <div th:replace="categoria/fragmentosCategoria :: botonesEditar"></div>
                                    </div>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
<!--            <div th:replace="categoria/fragmentosCategoria :: botonesEditar">-->
        </section>
                
        <section>
            <div class="card text-center bg-success text-white mb-3 col-6 align-center">
                <div class="card-body">
                    <h3 th:text="#{categoria.totalCategorias}">Total Categorias</h3>
                    <h4 class="display-4">
                        <i class="fas fa-layer-group"></i> [[${totalCategorias}]]
                    </h4>
                </div>
            </div>
        </section>
                
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light text-center">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}"
                               class= "btn btn-danger btn-block" sec:authorize="hasRole('ROLE_ADMIN')">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    </body>
</html>
