<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
    </head>
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 w3-container w3-blue-grey">
            <div class="container">
                <h1>FactuSoft</h1>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
    </header>

        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">                   
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header w3-container w3-teal">
                                <h4>[[#{login.login}]]</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <div>
                                                <label for="username">[[#{login.username}]]:</label>
                                            </div>
                                            <div>
                                                <input type="text" name="username" id="username"/>
                                            </div>
<!--                                            <label for="username">[[#{login.username}]]:</label>
                                            <input type="text" name="username" id="username"/>-->
                                        </div>
                                    </div>
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <div>
                                                <label for="password">[[#{login.password}]]:</label>
                                            </div>
                                            <div>
                                                <input type="password" name="password" id="password"/>
                                            </div>
<!--                                            <label for="password">[[#{login.password}]]:</label>
                                            <input type="password" name="password" id="password"/>-->
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row  py-1 mb-2 bg-light">
                                        <button type="submit" class="btn btn-primary btn-block">[[#{login.login}]]</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</html>
